<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mymusic.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginPhoneActivity"
            android:label="@string/phone_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/phone_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- ya -->
        <!-- 有米SDK为了兼容Android N应用间共享文件行为变更而需要配置的FileProvider -->
        <!-- 这里主要为授予有米SDK拥有打开apk安装界面的功能 -->
        <!-- 请务必修改 android:authorities 为贵应用的标识，一般为 包名.fileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mymusic.android.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
        <!-- end ya -->

        <activity
            android:name=".activity.UserDetailActivity"
            android:label="@string/user_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BaseWebViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""></activity>
    </application>

</manifest>